
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box ;
}
.fontLogo {
  font-family: 'Devonshire', cursive;
}

.App {
  text-align: center;
  font-size: 2rem;

}



.main {

display:flex;
flex-direction: column;
align-items:center;
background-image: url("https://ampascachi.com/images/evergreen/africa/egipto/banner-egipto.jpg");
background-size:cover;
background-repeat: no-repeat;

}

.sencond-banner {
  background-image: url("https://imge.cloud/images/2022/06/08/rV3Akf.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  

}


h1 , h2 {

  font-size: 1rem;
   font-weight:bold;
   text-shadow: 0 0 10px white, 0 0 10px white, 0px 0px 10px white;
  margin-bottom:3rem;
  padding: 0 1rem;
  
   }

h1{
  margin-top:3rem;
  }


.box-text{
  background-color:white;
  border-radius: 50%;
 opacity: 85%;
 width:15rem;
 margin-left: 3rem;

}

h3 { font-family: 'Devonshire', cursive;
font-size : 2.5rem;
font-weight:bold;
   text-shadow: 0 0 10px white, 0 0 10px white, 0px 0px 10px white;
   background-color:#B30F0F;
   border-radius: .5rem;
  
   
   

}
.callToAction {
  padding: 0.7em 0.6em;
  border: 4px solid red;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: black;
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom:3rem;
  margin-top: 4rem;
  margin-left:2rem;
  border-radius: 50%;


 }
 a.callToAction {
 padding-bottom:2rem;

 }


 .callToAction:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #fa725a;
  color: white;

 }


.logo {
width:40%;

}

.textMain {
font-family: 'Devonshire', cursive;
font-size: 2rem;
line-height: 1;
letter-spacing:0.4rem;
color:black;
background-color:#FACD81 ;
margin-top:1rem;
text-shadow: 0 0 10px white, 0 0 10px white, 0px 0px 10px white;
}


.textMain  {
  margin-top:10rem;
  --color: #3992e6;
  position: relative;
  z-index: 1;
  width: 90%;
 }

 .main_div::before {

  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  top: -7px;
  left: -7px;
  z-index: -5;
  border-top: 3px solid #E71414;
  border-left: 3px solid #E71414;
  transition: 0.5s;
 }

 .main_div::after {
 
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  bottom: -7px;
  right: -7px;
  z-index: -5;
  border-right: 3px solid #E71414;
  border-bottom: 3px solid #E71414;
  transition: 0.5s;
 }

 .main_div:hover::before {
  width: 100%;
  height: 100%;
  
 }

 .main_div:hover::after {
 
  width: 100%;
  height: 100%;
 }



.carrousel {

 width:65%;
 margin-bottom:1rem;
 background-color:white;
  padding-top:2rem;
 background-color:#B30F0F;
 }


 footer {
   background-color:#B30F0F;

 }
 .imgCarrousel{
   height:15rem;
 }

 .fontCarrousel {
   font-size :1.3rem;
   font-weight:bold;
   color :white;
 }


.icon {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width: 7rem;
  height:5rem;

}

.footertext {
  font-size :1rem;
  display:flex;
  align-items:center;
  color: white;
}


.error {
width:70rem;
height:30rem;
margin-top: 5rem;
}

.backgroundError {
  background-image: url("https://imge.cloud/images/2022/06/08/rV3Akf.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  width:auto;
  align-items:center;
  background-attachment: fixed;
  opacity: 90%;
 
}

.cardContainer {
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
}

.img-card {
height:15rem;
width:30rem;
object-fit:cover;
}

.btn-nav {
display:flex;
flex-direction:row;
justify-content:space-between;
}

.Carrousel-box{
display:flex;
flex-direction:column;
align-items:center;
width:auto;
}

.text {
display:flex;
flex-direction:row-reverse;
width:auto;
align-content: center;
justify-content:space-around;
padding:1rem;

}

@media (max-width: 800px) {
  .text , h3 {
display:flex;
flex-direction:column;
flex-wrap:wrap;
align-content: center;
justify-content:space-around;
margin-top:2rem;
}

}


@media (max-width: 800px) {
   h3 {
display:flex;
flex-direction:column;
flex-wrap:wrap;
align-content: center;
justify-content:space-around;
margin-top:2rem;
width:auto;
background-color:#B30F0F;
   border-radius: .5rem;
}}



@media ( max-width:335px){
  .Carrousel-box{
display:flex;
flex-direction:column;
align-items:center;
width:20rem;
}
}


@media (max-width:390px) {
.carrousel {

 width:18rem;
 margin-bottom:1rem;
padding-top:2rem;
 background-color:#B30F0F;
 }
}